[submodule "lib"]
	path = lib
	url = https://github.com/harisekhon/lib
	branch = master
[submodule "pylib"]
	path = pylib
	url = https://github.com/harisekhon/pylib
	branch = master
[submodule "bash-tools"]
	path = bash-tools
	url = https://github.com/harisekhon/bash-tools
	branch = master
[submodule "haproxy-configs"]
	path = haproxy-configs
	url = https://github.com/harisekhon/haproxy-configs
[submodule "sql"]
	path = sql
	url = https://github.com/HariSekhon/SQL-scripts
[submodule "templates"]
	path = templates
	url = https://github.com/HariSekhon/Templates
