#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2017-12-17 13:57:29 +0000 (Sun, 17 Dec 2017)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                H A P r o x y  -  D o c k e r   R e g i s t r y
# ============================================================================ #

frontend docker-registry
    bind *:5000
    default_backend docker-registry

backend docker-registry
    balance roundrobin
    acl internal_networks src 192.168.0.0/16 172.16.0.0/16 10.0.0.0/8 127.0.0.1
    http-request deny if ! internal_networks
    option httpchk GET /v2/_catalog
    http-check expect string "repositories"
    timeout http-request 10s
    server docker-registy docker-registry:5000 check
    server docker docker:5000 check backup
    server 192.168.99.100 192.168.99.100:5000 check backup
