#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2018-03-17 09:56:57 +0000 (Sat, 17 Mar 2018)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                           H A P r o x y  -  E t c d
# ============================================================================ #

frontend etcd
    description "Etcd"
    bind *:2379
    default_backend etcd

backend etcd
    description "Etcd"
    balance roundrobin
    acl internal_networks src 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1
    http-request deny if ! internal_networks
    option httpchk GET /version
    # Etcd 2.x /version:
    #
    # etcd 2.0.13
    #
    # Etcd 3.x /version:
    #
    # {"etcdserver":"3.3.2","etcdcluster":"3.3.0"}
    #
    http-check expect string "etcd"
    server etcd etcd:2379 check
    server etcd1 etcd1:2379 check
    server etcd2 etcd2:2379 check
    server etcd3 etcd3:2379 check
    server docker docker:2379 check
    server 192.168.99.100 192.168.99.100:2379 check
