#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2018-01-15 17:56:12 +0000 (Mon, 15 Jan 2018)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                   H A P r o x y  -  F l u e n t d   H T T P
# ============================================================================ #

frontend fluentd-http
    description "Fluentd HTTP"
    bind *:9880
    default_backend fluentd-http

backend fluentd-http
    description "Fluentd HTTP"
    balance roundrobin
    acl internal_networks src 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1
    http-request deny if ! internal_networks
    option httpchk GET "/haproxy.tag?json=''"
    http-check expect status 200
    server fluentd fluentd:9880 check
    server docker docker:9880 check
    server 192.168.99.100 192.168.99.100:9880 check
