#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2018-01-15 17:56:12 +0000 (Mon, 15 Jan 2018)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                H A P r o x y  -  F l u e n t d   M o n i t o r
# ============================================================================ #

frontend fluentd-monitor
    description "Fluentd Monitor"
    bind *:24220
    default_backend fluentd-monitor

backend fluentd-monitor
    description "Fluentd Monitor"
    balance roundrobin
    acl internal_networks src 192.168.0.0/16 172.16.0.0/16 10.0.0.0/8 127.0.0.1
    http-request deny if ! internal_networks
    option httpchk GET "/api/plugins.json"
    http-check expect string '"type":"monitor_agent"'
    server fluentd fluentd:24220 check
    server docker docker:24220 check
    server 192.168.99.100 192.168.99.100:24220 check
