#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2018-02-01 18:13:23 +0000 (Thu, 01 Feb 2018)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                   H A P r o x y  -  G r a p h i t e   W e b
# ============================================================================ #

frontend graphite-web
    description "Graphite Web"
    bind *:8080
    default_backend graphite-web

backend graphite-web
    description "Graphite Web"
    balance roundrobin
    acl internal_networks src 192.168.0.0/16 172.16.0.0/16 10.0.0.0/8 127.0.0.1
    http-request deny if ! internal_networks
    option httpchk GET /
    http-check expect string "Graphite"
    timeout http-request    5s
    cookie SERVERID insert indirect nocache
    server graphite-web graphite-web:8080 check cookie s1
    server graphite graphite:8080 check cookie s2
    server docker docker:8080 check cookie s3
    server 192.168.99.100 192.168.99.100:8080 check cookie s4
