#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2017-12-16 09:18:34 +0000 (Sat, 16 Dec 2017)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                  H A P r o x y  -  H a d o o p   H t t p F S
# ============================================================================ #

frontend hadoop-httpfs
    description "Hadoop HttpFS"
    bind *:14000
    default_backend hadoop-httpfs

backend hadoop-httpfs
    description "Hadoop HttpFS"
    balance roundrobin
    acl internal_networks src 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1
    http-request deny if ! internal_networks
    option httpchk GET '/webhdfs/v1/tmp?user.name=hari&op=GETFILESTATUS'
    http-check expect rstring '{"FileStatus":{"pathSuffix":".*","type":"DIRECTORY",'
    server httpfs httpfs:14000 check
    server hadoop hadoop:14000 check
    server docker docker:14000 check
    server 192.168.99.100 192.168.99.100:14000 check
