#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2017-12-16 09:46:05 +0000 (Sat, 16 Dec 2017)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#     H A P r o x y  -  H a d o o p   Y a r n   H i s t o r y   S e r v e r
# ============================================================================ #

# Tested on Hadoop 2.6.0-cdh5.12.0

frontend hadoop-yarn-history-server-ui
    description "Hadoop Yarn History Server UI"
    bind *:19888
    default_backend hadoop-yarn-history-server-ui

frontend hadoop-yarn-history-server
    description "Hadoop Yarn History Server"
    bind *:10020
    mode tcp
    option tcplog
    default_backend hadoop-yarn-history-server

backend hadoop-yarn-history-server-ui
    description "Hadoop Yarn History Server UI"
    balance first
    acl internal_networks src 192.168.0.0/16 172.16.0.0/16 10.0.0.0/8 127.0.0.1
    http-request deny if ! internal_networks
    option httpchk GET /jobhistory/about
    http-check expect string 'History Server'
    server yarn-history yarn-history:19888 check
    server yarn yarn:19888 check backup
    server hadoop hadoop:19888 check backup
    server docker docker:19888 check backup
    server 192.168.99.100 192.168.99.100:19888 check backup

backend hadoop-yarn-history-server
    description "Hadoop Yarn History Server"
    balance first
    mode tcp
    option tcplog
    acl internal_networks src 192.168.0.0/16 172.16.0.0/16 10.0.0.0/8 127.0.0.1
    tcp-request content reject if ! internal_networks
    server yarn-history yarn-history:10020 check
    server yarn yarn:10020 check backup
    server hadoop hadoop:10020 check backup
    server docker docker:10020 check backup
    server 192.168.99.100 192.168.99.100:10020 check backup
