#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2018-01-15 17:56:12 +0000 (Mon, 15 Jan 2018)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                       H A P r o x y  -  I n f l u x D B
# ============================================================================ #

# Combine with InfluxDB Relay ingest to achieve HA in open source, see influxdb-relay.cfg too
#
# https://github.com/influxdata/influxdb-relay

frontend influxdb
    description "InfluxDB"
    bind *:8086
    default_backend influxdb

backend influxdb
    description "InfluxDB"
    balance roundrobin
    acl internal_networks src 192.168.0.0/16 172.16.0.0/16 10.0.0.0/8 127.0.0.1
    option httpchk HEAD /ping
    # no content returned, can only check status code
    http-check expect status 204
    timeout http-request 5s
    cookie SERVERID insert indirect nocache
    server influxdb influxdb:8086 check cookie s1
    server docker docker:8086 check cookie s2
    server 192.168.99.100 192.168.99.100:8086 check cookie s3
