#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2018-01-21 17:40:30 +0000 (Sun, 21 Jan 2018)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                 H A P r o x y  -  I n f l u x D B   R e l a y
# ============================================================================ #

# https://github.com/influxdata/influxdb-relay

frontend influxdb-relay
    description "InfluxDB Relay"
    bind *:9096
    default_backend influxdb-relay

backend influxdb-relay
    description "InfluxDB Relay"
    balance roundrobin
    acl internal_networks src 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1
    http-request deny if ! internal_networks
    option httpchk HEAD /ping
    # no content returned, can only check status code
    http-check expect status 204
    cookie SERVERID insert indirect nocache
    server influxdb-relay influxdb-relay:9096 check cookie s1
    server influx-relay influx-relay:9096 check cookie s2
    server influxdb influxdb:9096 check cookie s3
    server docker docker:9096 check cookie s4
    server 192.168.99.100 192.168.99.100:9096 check cookie s5
