#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2018-02-02 19:46:04 +0000 (Fri, 02 Feb 2018)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#            H A P r o x y  -  R a b b i t M Q   M a n a g e m e n t
# ============================================================================ #

frontend rabbitmq-management
    description "RabbitMQ Management"
    bind *:15672
    default_backend rabbitmq-management

backend rabbitmq-management
    description "RabbitMQ Management"
    balance roundrobin
    acl internal_networks src 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1
    http-request reject if ! internal_networks
    option httpchk GET /
    http-check expect string "RabbitMQ Management"
    cookie SERVERID insert indirect nocache
    server rabbitmq rabbitmq:15672 check cookie s1
    server rabbit rabbit:15672 check cookie s2
    server rabbit1 rabbit1:15672 check cookie s3
    server rabbit2 rabbit2:15672 check cookie s4
    server docker docker:15672 check cookie s5
    server 192.168.99.100 192.168.99.100:15672 check cookie s6
