#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2017-12-17 14:07:02 +0000 (Sun, 17 Dec 2017)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                           H A P r o x y  -  R i a k
# ============================================================================ #

frontend riak
	bind *:8098
	default_backend riak

backend riak
	balance roundrobin
    acl internal_networks src 192.168.0.0/16 172.16.0.0/16 10.0.0.0/8 127.0.0.1
    http-request deny if ! internal_networks
    option httpchk GET '/ping'
    http-check expect string OK
	server riak riak:8098 check
	server docker docker:8098 check
	server 192.168.99.100 192.168.99.100:8098 check
