#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2017-12-16 10:52:13 +0000 (Sat, 16 Dec 2017)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#           H A P r o x y  -  S p a r k   H i s t o r y   S e r v e r
# ============================================================================ #

# Tested on Spark 1.6.0-cdh5.12.0

frontend spark-history-server
    description "Spark History Server"
    bind *:18080
    default_backend spark-history-server

backend spark-history-server
    description "Spark History Server"
    balance first
    acl internal_networks src 192.168.0.0/16 172.16.0.0/16 10.0.0.0/8 127.0.0.1
    http-request deny if ! internal_networks
    #option httpchk GET /api/v1/applications/
    #http-check expect string Spark
    server spark-history spark-history:18080 check
    server spark spark:18080 check backup
    server hadoop hadoop:18080 check backup
    server docker docker:18080 check backup
    server 192.168.99.100 192.168.99.100:18080 check backup
