#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2017-12-16 09:46:05 +0000 (Sat, 16 Dec 2017)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# ================================================================================= #
# H A P r o x y  -  H a d o o p   Y a r n   R e s o u r c e   M a n a g e r   S S L
# ================================================================================= #

frontend hadoop-yarn-resource-managers
    bind *:8090
    default_backend hadoop-yarn-resource-managers

backend hadoop-yarn-resource-managers
    balance first
    acl internal_networks src 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1
    http-request deny if ! internal_networks
    option httpchk GET '/ws/v1/cluster'
    http-check expect rstring '"haState"\s*:\s*"ACTIVE"'
    #option ssl-hello-chk
    default-server check-ssl verify none
    server yarn yarn:8090 check
    server resourcemanager resourcemanager:8090 check backup
    server hadoop hadoop:8090 check backup
    server docker docker:8090 check backup
    server 192.168.99.100 192.168.99.100:8090 check backup
