#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2017-12-16 09:46:05 +0000 (Sat, 16 Dec 2017)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# =============================================================================== #
# H A P r o x y  -  H i s t o r y   Y a r n   H i s t o r y   S e r v e r   S S L
# =============================================================================== #

frontend hadoop-yarn-history-server-ui-ssl
    description "Hadoop Yarn History Server UI SSL"
    bind *:19889
    default_backend hadoop-yarn-history-server-ui-ssl

frontend hadoop-yarn-history-server-ssl
    description "Hadoop Yarn History Server SSL"
    bind *:10020
    default_backend hadoop-yarn-history-server-ssl

backend hadoop-yarn-history-server-ui-ssl
    description "Hadoop Yarn History Server UI SSL"
    balance first
    acl internal_networks src 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1
    http-request deny if ! internal_networks
    option httpchk GET /jobhistory/about
    http-check expect string 'History Server'
    #option ssl-hello-chk
    default-server check-ssl verify none
    server yarn-history yarn-history:19889 check
    server yarn yarn:19889 check backup
    server 192.168.99.100 192.168.99.100:19889 check backup
    server docker docker:19889 check backup

backend hadoop-yarn-history-server-ssl
    description "Hadoop Yarn History Server SSL"
    balance first
    acl internal_networks src 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1
    http-request deny if ! internal_networks
    server yarn-history yarn-history:10020 check
    server yarn yarn:10020 check backup
    server docker docker:10020 check backup
    server 192.168.99.100 192.168.99.100:10020 check backup
