#
#  Author: Hari Sekhon
#  Date: 2013-02-03 10:25:36 +0000 (Sun, 03 Feb 2013)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                             CPAN Modules Packaged
# ============================================================================ #

# downgrading Net::DNS as a workaround for taint mode bug:
# https://rt.cpan.org/Public/Bug/Display.html?id=114819
Net::DNS@1.05

DBD::mysql
Digest::CRC
Digest::MD5
Digest::SHA
Digest::SHA1
IO::Socket::SSL
SMS::AQL
Socket6
URI::Escape
LWP::Protocol::https
