#
#  Author: Hari Sekhon
#  Date: 2013-02-03 10:25:36 +0000 (Sun, 03 Feb 2013)
#
#  https://github.com/harisekhon/nagios-plugins
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                            CPAN Module Requirements
# ============================================================================ #

# needed for Kafka module
# included by library
#inc::Module::Install

# for MongoDB dep
Package::Stash::XS
Ref::Util::XS
Type::Tiny::XS

Data::HexDump::Range

# needed for Kafka execution on CentOS
Sub::Util

# needed for check_kafka.pl - transitive dependency not pull automatically
Guard

Compress::Snappy
Compress::Zlib
Digest::Adler32
Kafka
Net::SSH::Expect
Ref::Util

# needed for check_hbase_cell.pl on CentOS
# included by library
#Class::Accessor

# There are problems with the tests for this module dependency of Net::Async::CassandraCQL, forcing install works and allows us to use check_cassandra_write.pl
#sudo cpan -f IO::Async::Stream

#Net::Async::CassandraCQL
#Search::Elasticsearch

#Sub::Exporter::Progressive
#Sub::Name
#TAP::Harness::Env
#Test::SharedFork
#Type::Tiny::XS
#Proc::Daemon
#Module::CPANfile::Result
#Module::Install::Admin
#Devel::CheckLib
#Exporter::Tiny
#ExtUtils::Config
#ExtUtils::Helpers
#ExtUtils::InstallPaths
#Const::Fast
#List::MoreUtils
#List::MoreUtils::XS
#Module::Build::Tiny


# XXX: there is a bug in the Readonly module that MongoDB::MongoClient uses. It tries to call Readonly::XS but there is some kind of MAGIC_COOKIE mismatch and Readonly::XS errors out with:
#
# Readonly::XS is not a standalone module. You should not use it directly. at /usr/local/lib64/perl5/Readonly/XS.pm line 34.
#
# Workaround is to edit Readonly.pm and comment out line 33 which does the eval 'use Readonly::XS';
# On Linux this is located at:
#
# /usr/local/share/perl5/Readonly.pm
#
# On my Mac OS X Mavericks:
#
# /Library/Perl/5.16/Readonly.pm

# Required to successfully build the MongoDB module for For RHEL 5
#sudo cpan Attribute::Handlers
#sudo cpan Params::Validate
#sudo cpan DateTime::Locale DateTime::TimeZone
#sudo cpan DateTime

# You may need to set this to get the DBD::mysql module to install if you have mysql installed locally to /usr/local/mysql
#export DYLD_LIBRARY_PATH="$DYLD_LIBRARY_PATH:/usr/local/mysql/lib/"

# Redis module required but didn't auto-pull: ExtUtils::Config ExtUtils::Helpers ExtUtils::InstallPaths TAP::Harness::Env Module::Build::Tiny Sub::Name
# Kafka module required but didn't auto-pull: ExtUtils::Config, ExtUtils::Helpers, ExtUtils::InstallPaths, TAP::Harness::Env, Module::Build::Tiny, Sub::Exporter::Progressive, Const::Fast, Exporter::Tiny, List::MoreUtils, Devel::CheckLib, Compress::Snappy, Sub::Name
# Module::CPANfile::Result and Module::Install::Admin are needed for Hijk which is auto-pulled by Search::Elasticsearch but doesn't auto-pull Module::CPANfile::Result
# Module::Build::Tiny and Const::Fast must be built before Kafka, doesn't auto-pull in correct order
# Proc::Daemon needed by Kafka::TestInternals
# Proc::Daemon fails on tests, force install anyway to appease Travis
