#
#  Author: Hari Sekhon
#  Date: 2020-04-07 12:57:04 +0100 (Tue, 07 Apr 2020)
#
#  vim:ts=2:sts=2:sw=2:et
#
#  https://github.com/HariSekhon/Nagios-Plugins
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback
#
#  https://www.linkedin.com/in/harisekhon
#

---
name: Perl 5.34

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * *'

jobs:
  build:
    name: Perl
    uses: HariSekhon/GitHub-Actions/.github/workflows/perl.yaml@master
    with:
      version: 5.34
